* {
    font-family: 'Roboto';
}

.title {
    font-family: Monotype Corsiva;
}

#error {
    width: fit-content;
    margin: auto;
    background: #89A8C7;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 2px 2px 2px #000;
    color: #FFF;
    border-radius: 10px;
}

.header {
    text-align: center;
    display: block;
    padding: 10px;
    margin: auto 0;
}

body {
    background: #A4C8ED;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}


#content-header p {
    margin-top: 10px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.weather-element img {
    width: 100px;
    height: 100px;
}

#content {
    padding: 10px;
    background-color: #89A8C7;
    box-shadow: 2px 2px 2px black;
    width: 70%;
    margin: auto;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

#content-header p {
    font-size: 1em;
}

.small {
    flex: 0;
}

.centered {
    text-align: center;
}

#content-header .big {
    font-size: 3.5em;
}

#content-header .msize {
    font-size: 1.8em;
}

.wind-img {
    height: 1em;
}

#search-input {
    border-radius: 10px 0 0 10px;
}

#search-button {
    border-radius: 0 10px 10px 0;
}

#search-input,
#search-button {
    font-size: 36px;
    margin: 0;
    padding: 5px;
    border: none;
    outline: none;
    width: 70%;
    box-sizing: border-box;
    transition-duration: .2s;
}

.search-bar {
    margin: 10px auto;
    box-shadow: 2px 2px 2px black;
    width: 70%;
    border-radius: 10px;
}

#search-button {
    background-color: #89A8C7;
    color: white;
    width: 30%;
}

.forecast-header {
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

#content-header {
    margin: auto;
    background-color: #9ABDE0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    align-items: center;
}

#content-header>span {
    display: block;
}

#content-header>div {
    flex: 1;
    padding: 10px;
}

.icon {
    height: 7em;
}

#forecast {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.weather-element {
    background-color: #9ABDE0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.title {
    font-size: 4em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 3px black;
}

p {
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: #6F88A1;
    border-radius: 10px;
}

::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(67, 82, 97, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(67, 82, 97, 0.7);
}

::-webkit-scrollbar-thumb:active {
    background-color: #435261;
}

#search-button:active {
    color: black;
}

#search-button:hover {
    background-color: #6F88A1;
    transition-duration: .2s;
}

#search-input:focus {
    background-color: #F6F6F6;
    transition-duration: .2s;
}

#other {
    display: inherit;
}

#other div{
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    #content-header {
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #content {
        width: 90%;
    }

    .search-bar {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    #search-input {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    #search-button {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}